/* TIPOGRAFÍA Y BASE */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: #e8f5e9;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
}

/* ENCABEZADOS */
h1, h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #1b5e20;
}

/* NAV */
nav {
    background-color: #1b5e20;
    padding: 12px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #a5d6a7;
}

/* CONTENIDO */
section {
    width: 80%;
    margin: auto;
    padding: 20px;
}
article {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    border-left: 5px solid #1b5e20;
}

/* IMÁGENES ADAPTABLES */
img {
    max-width: 100%;
    border-radius: 10px;
}

/* BOTONES */
.boton {
    display: inline-block;
    background-color: #1b5e20;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    text-decoration: none;
}
.boton:hover {
    background-color: #388e3c;
}

/* FOOTER */
footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}

/* CLASE EXTRA */
.centrado {
    text-align: center;
    margin-top: 50px;
}

